	
		<div class="footer">
			<div class="footer_bg">
				<ul>
					<li>
						<!-- Plan &nbsp;&nbsp;&nbsp;Laboratory &nbsp;&nbsp;System &nbsp;Engineering &nbsp;&nbsp;Co.Ltd -->
					    <?php $footer1['footer1'] = strip_tags(htmlspecialchars_decode($footer1['footer1'])); echo $footer1['footer1']?>
						<p><?php $footer2['footer2'] = strip_tags(htmlspecialchars_decode($footer2['footer2'])); echo $footer2['footer2']?></p>
					</li>
					<li>
						
					<!-- @2010-2015 1688.com 版权所有  -->
						<p><?php $footer3['footer3'] = strip_tags(htmlspecialchars_decode($footer3['footer3'])); echo $footer3['footer3']?></p>
					</li>
				</ul>
				
			</div>
		</div>
	
	</body>
</html>
